*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

img{
    width: 100%;
    height: 100%;
}

header{
    background-image: url(../pictures/jumbo.png);
    background-size: cover;
}

.title{                                    
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    width: 85%;
    line-height: 35px;
    display: flex;
}

.foto{
    padding: 5px;
}

.link{
    flex-grow: 1;
    text-align: center;
}

.link-top{
    color: white;
    text-decoration: none;
}

.button{
    border: none;
    color: black;
    cursor: pointer;
    font-size: 12px;
    padding: 8px 15px;
    border-radius: 20px;
    background-color: white;
}

.button.last{
    color: white;
    margin-top: 15px;
    background-color: rgb(105, 75, 195);
}

#black-button{
    color: white;
    margin-left: 8px;
    background-color: rgb(34, 34, 34);
}

.container{
    height: 350px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.purple-box{
    width: 60%;
    height: 85%;
    color: white;
}

h1{
    padding-bottom: 25px;
}

h2{
    text-align: left;
    padding: 20px 115px 10px 10px;
}

#final-title{
    text-align: center;
    padding: 10px 10px;
}

p{
    font-size: 13px;
    padding-bottom: 15px;
}

.description{
    text-align: left;
    padding: 10px 55px 10px 10px;

}

.white{
    background-color: white;
}

.grey{
    background-color: lightgray;
}

.big-box{
    width: 50%;
    height: 85%;
    border-style: dashed;
    background-color: lightskyblue;
}

.little-box{
    width: 30%;
    height: 85%;
    border-style: dashed;
    background-color: lightpink;
}

.last-box{
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.green-box{
    width: 80%;
    
    text-align: center;
}

.last-img{
    width: 75%;
    margin: auto;
}

.container.last{
    background-color: rgb(43, 40, 40);
}

#pink{
    background-color: rgb(245, 116, 137);
}

.multiple-box{
    width: 12.5%;
    height: 85%;
    border-style: dashed;
    border-color: white;
    background-color: rgb(43, 233, 224);
}

.credentials{
    height: 60px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: rgb(43, 40, 40);
}

#box-credentials{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(114, 215, 190);

}

.logo-button{
    width: 8%;
    height: 65%;
    text-align: center;
    border-style: dashed;
    background-color: rgb(245, 116, 137);
}

